<!-- views/partials/footer.ejs -->
</div> <!-- close div class="row" -->
</main> <!-- close main -->

<footer>
  <p class="text-center text-muted">© Copyright Something Clever</p>
</footer>

</body>
</html>
