<!-- views/partials/footer.ejs -->
</div> <!-- close div class="row" -->
</main> <!-- close main -->

<footer>
  <p class="text-center text-muted">
    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
       Kistner's Flowers</p>
</footer>

</body>
</html>
