<!-- views/admin/users.ejs -->
<% include ../../partials/header %>
	<div class="page-header text-center">
		<h1><span class="fa fa-unlock"></span> Admin - Inventory</h1>
	</div>
<% include ../../partials/footer %>
