<!-- views/pages/about.ejs -->
<% include ../partials/header %>
    <div class="row">

      <div class="alert alert-danger">The page you requested either doesn't exist or you do not have access.</div>

    </div>
<% include ../partials/footer %>
