
<!DOCTYPE html>
<html>
<head>
<link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class='header'>
	<div class='logo'>Logo</div>
	<div class='title'>Title</div>
	<div class='logout'>Logout</div>
</div>
<div class='container'>
	<div class='left-side-bar'>
		<p>Left Side Bar</p>
		<div class='side-tile'></div>
		<div class='side-tile'></div>
		<div class='side-tile'></div>
	</div>
	<div class='middle-content'>
		<div class='tile'>
			<h1>Admin</h1>
		</div>
		<div class='tile'>
			<h1>Inventory</h1>
			<button class='tile-view'>View</button>
			<button class='tile-add'>Add</button>
		</div>
		<div class='tile'>
			<h1>Clients</h1>
			<button class='tile-view'>View</button>
			<button class='tile-add'>Add</button>
		</div>
		<div class='tile'>
			<h1>Events</h1>
			<button class='tile-view'>View</button>
			<button class='tile-add'>Add</button>
		</div>
	</div>
	<div class='right-side-bar'>
		<p>Right Side Bar</p>
		<div class='side-tile'></div>
		<div class='side-tile'></div>
		<div class='side-tile'></div>
	</div>
</div>
<form method="post">
<input type="text" name="name"></input>
<input type="submit" name="submit" id="submit" value="submit"></input>
</form>
</body>
</html>