<!-- views/admin.ejs -->
<% include ../partials/header %>
  <link rel="stylesheet" href="/public/css/tiles.css">

	<div class="page-header text-center">
		<h1><span class="fa fa-unlock"></span> Staff Panel</h1>
	</div>


  <div class="row">
    <a href="/staff/inventory">
      <div class="col-sm-4">
        <div class="tile tile-primary">
          <h3 class="title">Inventory</h3>
          <p>View items in the inventory.</p>
        </div>
      </div>
    </a>

    <a href="/staff/customers">
      <div class="col-sm-4">
        <div class="tile tile-primary">
          <h3 class="title">Customers</h3>
          <p>View current and past customers.</p>
        </div>
      </div>
    </a>
  </div>

<% include ../partials/footer %>
