textarea {
	width: 100%;
	height: 100px;
	resize: none;
}
.dotted {
	border-top: 2px dotted;
	width: 80%;
	color: #c9b66f;
}

.itemTable th,
.itemTable td {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 12px 0px 12px 10px;
}

.itemTable	th {
	background-color: #83052b;
  color: #f2ebd0;
  font-size: 1.2em;
}

.itemTable {
	margin-top: 5px;
}

.remove-item-btn	{
	width: 30px;
	height: 30px;
}

.itemTable tbody tr:nth-child(even) {
	background-color: #D9D2B7;
}

div.ui-datepicker, .ui-datepicker td {
 	font-size:1.5em;
}


#grand-total-table {
	border: solid 2px #83052b;
	border-right: none;
	margin-top: 0;
}

#grand-total-table th {
	text-align: center;
	margin: 0 !important;
}

#grand-total-table td {
	font-weight: bold;
}

.grandTotalInput {
	width: 100%;
	height: 65%;
	background: transparent;
	border: none;
	font-size: 18px;
	font-weight: bold;
}

#save-btn {
	margin-top: 5px;
	width: 100%;
	border-radius: 0;
}

body{
    padding-left:200px;
    margin:0;
}

div#side-bar{
   position:fixed;
   height:100%;
   width:200px;
   top:0;
   left:0;
	 border-right: solid 2px #83052b;
	 margin-right: 5px;
}

div#side-bar ul {
	margin-top: 5px;
}

div.container {
	width: calc(100% - 200px)
}

@media (min-width:768px) {
   div.container {
     margin-right: 0 !important;
   }
	 body.container {
		 margin-right: 0 !important;
	 }
 }
