/******************************************************/

* {
	margin: 0;
}
.header {
	width: 100vw;
	height: 40px;
	background-color: #ddd;
	display: table;
}
.logo, .title, .logout {
	display: table-cell;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	border-bottom: dotted 1px black;
	border-top: dotted 1px black;
}
.logo, .logout {
	width: 10%;
}
.logo {
	border-right: dotted 1px black;
}
.logout {
	border-left: dotted 1px black;
}
.title {
	width: 80%;
}
.container {
	height: calc(100vh - 40px);
	width: 100vw;
	background-color: #FFC0CB;
}
.left-side-bar, .right-side-bar {
	height: 100%;
	width: 10%;
	display: inline-block;
	float: left;
}
.left-side-bar {
	border-right: dotted 1px black;
}
.right-side-bar {
	border-left: dotted 1px black;
}
.middle-content {
	height: 100%;
	width: calc(80% - 2px);
	display: inline-block;
	float: left;
	margin: auto;
}
.tile {
	width: calc(50% - 50px);
	height: calc(50% - 50px);
	border: dotted 1px black;
	margin-left: 25px;
	margin-top: 25px;
	text-align: center;
	vertical-align: middle;
	display: table;
	float: left;
}
.tile h1{
	padding-top: 25%;
	display: table-row;
	width: 100%;
	height: 80%;
	vertical-align: middle;
}
.tile button {
	position: relative;
	padding: 10px;
	width: 25%;
	left: 0;
}
.tile-view {
	margin-right: 5%;
}
p {
	text-align: center;
}
.side-tile {
	height: 75px;
	width: 100%;
	border-bottom: dotted 1px black;
}
