<!-- views/staff/customers.ejs -->
<% include ../../partials/header %>
	<div class="page-header text-center">
		<h1><span class="fa fa-unlock"></span> Staff - Customers</h1>
	</div>

	<table id="customers">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
		</thead>
		<tbody>
		<% if(customers) {
				customers.forEach(function(item, index) { %>
					<tr>
						<!--<td class="itemName" contenteditable="True"><%= item.name %></td>-->
            <td><%= item.firstName %></td>
						<td><%= item.lastName %></td>
					</tr>
				<% });
			}%>
	</tbody>
	</table>

<% include ../../partials/footer %>

<style>
#customers {
	width: 100%;
}
</style>

<script>
$( document ).ready(function() {
    $("#customers").DataTable({
    		"iDisplayLength": 50
  	});
});
</script>
