<!-- views/admin/users.ejs -->
<% include ../../partials/header %>
<link href="public/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="public/bootstrap-colorpicker/dist/css/bootstrap-colorpicker-plus.css" rel="stylesheet">

	<div class="page-header text-center">
		<h1><span class="fa fa-calendar"></span> Event Form</h1>
	</div>

  <form action="/staff/eventForm" method="post">
		<h2>General Information</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Bride's Name</label>
				<input type="text" class="form-control" name="brides-name">
			</div>
			<div class="form-group col-sm-4">
				<label>Groom's Name</label>
				<input type="text" class="form-control" name="grooms-name">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Email</label>
				<input type="text" class="form-control" name="email">
			</div>
			<div class="form-group col-sm-4">
				<label>Phone</label>
				<input type="text" class="form-control" name="phone">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Address</label>
				<input type="text" class="form-control" name="address">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>City</label>
				<input type="text" class="form-control" name="city">
			</div>
			<div class="form-group col-sm-4">
				<label>State</label>
				<input type="text" class="form-control" name="state">
			</div>
			<div class="form-group col-sm-4">
				<label>Zip</label>
				<input type="text" class="form-control" name="zip">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Color 1</label>
				<select class="form-control"></select>
			</div>
			<div class="form-group col-sm-3">
				<label>Color 2</label>
				<select class="form-control"></select>
			</div>
			<div class="form-group col-sm-3">
				<label>Color 3</label>
				<select class="form-control"></select>
			</div>
			<div class="form-group col-sm-3">
				<input type="text" class="form-control" value="#fff" id="demo3" />
<div class="colorpickerplus-embed">
  <div class="colorpickerplus-container" </div>
</div>
<script>
$(function(){
  var demo3 = $('.colorpickerplus-embed .colorpickerplus-container');
  demo3.colorpickerembed();
  demo3.on('changeColor', function(e){
	if(e.color==null)
	  $('#demo3').val('transparent').css('background-color', '#fff');//tranparent
	else
	  $('#demo3').val(e.color).css('background-color', e.color);
  });
});
</script>
			</div>
		</div>

		<hr>

		<h2>Ceremony Information</h2>
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Address</label>
				<input type="text" class="form-control" name="ceremony-address">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>City</label>
				<input type="text" class="form-control" name="ceremony-city">
			</div>
			<div class="form-group col-sm-4">
				<label>State</label>
				<input type="text" class="form-control" name="ceremony-state">
			</div>
			<div class="form-group col-sm-4">
				<label>Zip</label>
				<input type="text" class="form-control" name="ceremony-zip">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
					<label>Date</label>
					<input type="text" class="form-control date" name="ceremony-date">
			</div>
			<div class="form-group col-sm-4">
				<label>Start Time</label>
				<select class="form-control" name="ceremony-start-time">
					<% printTimes(); %>
				</select>
			</div>
		</div>

		<hr>

		<h2>Reception Information</h2>
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Address</label>
				<input type="text" class="form-control" name="reception-address">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>City</label>
				<input type="text" class="form-control" name="reception-city">
			</div>
			<div class="form-group col-sm-4">
				<label>State</label>
				<input type="text" class="form-control" name="reception-state">
			</div>
			<div class="form-group col-sm-4">
				<label>Zip</label>
				<input type="text" class="form-control" name="reception-zip">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
					<label>Date</label>
					<input type="text" class="form-control date" name="reception-date">
			</div>
			<div class="form-group col-sm-4">
				<label>Start Time</label>
				<select class="form-control" name="reception-start-time">
					<% printTimes(); %>
				</select>
			</div>
		</div>

		<hr>

		<h2>Photography</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Photographers</label>
				<input type="text" class="form-control" name="photographers">
			</div>
			<div class="form-group col-sm-4">
				<label>Start Time</label>
				<select class="form-control" name="photograph-start-time">
					<% printTimes(); %>
				</select>
			</div>
		</div>

		<hr>

		<h2>Flowers</h2>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Flowers</label>
				<select class="form-control" name="flowers1">
					<% printFlowers(flowers); %>
				</select>
			</div>
		</div>
  </form>

  <% include ../../partials/footer %>

<script>
$(function() {
    $(".date").datepicker();
});
</script>

<% function printTimes() { %>
	<% var minutes = ["00","15","30","45"]; %>
	<% for(var i = 0; i <=23; i++) { %>
		<% for(var j = 0; j < minutes.length; j++) {
			var suffix = (i >= 12)? 'pm' : 'am';
			var hours = (i > 12) ? i - 12 : i;
			if(hours == 0) {
				hours = 12;
			} %>
			<option value="<%= hours + minutes[j] + suffix %>"><%= hours + ":" + minutes[j] + " " + suffix%></option>
		<% } %>
	<% } %>
<% } %>

<% function printFlowers(flowers) { %>
	<% flowers.forEach(function(item, index) { %>
			<option value="<%= item.id %>"><%= item.name %></option>
	<% }); %>
<% } %>



<style>
div.ui-datepicker, .ui-datepicker td {
 	font-size:1.5em;
}
</style>

<!--
General information:
Date of wedding
Brides Name
Grooms Name
Email Address
Phone number(s)
Physical Address
Ceremony Location
Ceremony start time

Reception Location
Reception start time

Photographer
Photographer start time

Delivery time

Recipe Categories: (Recipe, pricing, design notes)
Bridal bouquet
Bridesmaids (total number=#)
Throw bouquet
Boutonnieres:
    Groom,
    Groomsmen (#)
    Ushers (#)
    Fathers (#)
    Grandfathers(#)
    Ring Bearers (#)
    Officiant
    Vocalist
    Hosts
    Reader
    Musician
Corsages:
    Mothers (#)
    Grandmothers(#)
    Guest Book (#)
    Cake Cutter(#)
    Reader
    Vocalist
    Hostess
    Musician
    Flower Girl (#)
Ceremony Decorations
    Altar (#)
    Aisle decorations
    Guest Book
    Candelabras
    Unity Candle
Reception Decorations
    Centerpieces (#) [**Often this category might have 1-4 different styles         so multiple entries will be needed for different recipes**]
    Head Table
    Bar Flowers
    Guest book
    Cake Flowers
    Other [**would like to be able to add a category should a bride be         doing something unique I can add that in easily**]
-->
