<!-- views/admin/users.ejs -->
<% include ../../partials/header %>
	<div class="page-header text-center">
		<h1><span class="fa fa-unlock"></span> Staff - Inventory</h1>
	</div>

	<table>
	<% inventory.forEach(function(item, index){ %>
	<tr>
	    <td><%= item.id %></td>
	    <td><%= item.name %></td>
	    <td><%= item.price %></td>
	</tr>
	<% }); %>
</table>

<% include ../../partials/footer %>
