<!-- views/admin/users.ejs -->
<% include ../../partials/header %>
	<div class="page-header text-center">
		<h1><span class="fa fa-unlock"></span> Staff - Inventory</h1>
	</div>

<% if (inventory) {
console.log(inventory[0]);
}%>

<% include ../../partials/footer %>
